/* *{border: 1px solid red;} */

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #495060;
  font-family: 'Cairo', sans-serif;
  font-family: 'Montserrat Alternates', sans-serif;
  font-family: 'Noto Sans Mahajani', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin-bottom: 0;
  list-style: none;
  padding: 0;
}

p {
  font-size: 15px;
  line-height: 30px;
  margin: 0;
  font-weight: 400;
  color: #666;
}

.navbar-toggler {
  transition: all 2s;
}

.navbar-toggler:focus {
  color: blueviolet;
  box-shadow: none;
}

.svg-inline--fa.fa-bars {
  font-size: 45px;
}

ul.show {
  box-shadow: 0px 0px 11px 2px #b4b4cd;
}

.nav-link {
  font-size: 18px;
}

.dropdown-item {
  font-size: 16px;
}

.dropdown-toggle::after {
  opacity: 0;
}

.vector-img-logo {
  transition: 2s;
}

.vector-img-logo:hover {
  transform: rotate(357deg);
}

#container-fluid {
  position: relative;
  background-color: rgb(0 0 0 / 28%);
  border-top: 2px solid #b680e7;
  padding: 0;
  z-index: 99999999999;
}

.flex-new {
  flex-direction: inherit;
}

li.width {
  width: 40%;
  display: flex;
  justify-content: center;
}

div#navbarSupported {
  width: 50%;
  display: flex;
}

form#d-flex {
  width: 50%;
  padding: 0% 3% 0% 0%;
}

svg#icon-lock,
svg#icon-check {
  margin-right: 8%;
  font-size: 18px;
}

.button-post {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
  border-radius: 5%;
  border: 1px solid burlywood;
  color: white;
  font-size: 18px;
  transition: 1s;
}

.button-post:hover {
  background-color: rgb(69, 9, 126);
  color: #a3f9f9;
}

div#navbarSupportedContent {
  width: 50%;
  flex-grow: 0;
}

.container-floid {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.whatsapp {
  width: 20%;
}

.Whatsapp1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

span.whatsapp2 {
  border-radius: 50%;
  border: 2px solid #343464;
  background-color: turquoise;
  width: 20%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg.svg-inline--fa.fa-phone {
  font-size: 20px;
  color: revert;
}

div#what-sapp {
  width: 75%;
}

p.whatsapp3,
span.span-phone {
  font-size: 19px;
}

.display-flex-aney-top,
.SliderTopImage {
  position: relative;
  width: 100%;
  height: 560px;
}

.imageSlider {
  content: "";
  position: absolute;
  width: 100%;
  height: 550px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: rotateX(355deg);
}

.background-image-1 {
  background-image: url(/img/featured-avatar.jpeg);
}

.background-image-2 {
  background-image: url(/img/featured-avatar5.jpeg);
}

.background-image-3 {
  background-image: url(/img/featured-avatar-click.jpg);
}

button#gototop {
  width: 4%;
  height: 45px;
  position: fixed;
  bottom: 20px;
  right: 3px;
  font-size: 25px;
  border: none;
  outline: none;
  background-color: #555;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

button#gototop:hover {
  background-color: red;
}

.Words-slider-top {
  width: 100%;
  height: 75%;
  position: absolute;
  top: 12%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.words-sliders-top {
  position: absolute;
  left: 5%;
  padding: 0.5% 5%;
  background-color: rgba(0 0 0 /30%);
}

.p-slider-top {
  width: 70%;
  font-size: 22px;
}

#link-click-slider-top {
  border: none;
  outline: none;
  background: none;
  width: 20%;
  height: 40px;
  font-size: 18px;
}

#link-click-go-to {
  border: none;
  outline: none;
  background: none;
  width: 60%;
  height: 40px;
  font-size: 18px;
}

#link-click-slider {
  width: 100%;
  height: 100%;
  background-color: #0dcaf0;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 2s;
  text-decoration: none;
  border-radius: 2.5rem;
}

#link-click-slider:hover {
  background-color: #4444ec;
  color: white;
}

#sectionClickSlider {
  position: absolute;
  top: 2%;
  right: 5%;
}

.Fade {
  animation-name: Fade;
  animation-duration: 1.5s;
}

@keyframes Fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

.footer-bootstrap-v5 {
  width: 100%;
  background-color: rgb(13, 202, 240);
}

.textcenter>div {
  width: 95%;
  margin-left: 2.5%;
  align-items: center;
}

.logo-footer.mt-3.mb-3 {
  width: 50%;
}

.logo-footer img {
  width: 40%;
}

.image-link-one>img {
  width: 95%;
  height: 50px;
}

.h2ourpage {
  font-size: 26px;
}

.word-footermb-3,
.link-terms-servicemb-3,
.link-Privacy-Policymb-3 {
  width: 33%;
}

.goto-like-top {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
  color: white;
  border-radius: 2.5rem;
  transition: 2s;
}

.goto-like-top:hover {
  background-color: rgba(0, 0, 255, 0.39);
  color: blue;
}

.ABOUT-US-OURPAES {
  width: 33%;
}

.goto-like-page {
  width: 40%;
  height: 55px;
  background-color: #8a2be247;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 2s;
}

.goto-like-page:hover {
  background-color: #4336e97a;
}

svg.svg-inline--fa.fa-facebook-f,
svg.svg-inline--fa.fa-twitter,
svg.svg-inline--fa.fa-instagram {
  font-size: 35px !important;
  color: black !important;
}

.SECTIONONE,
.nav1-section,
.nav3-section,
.link4section {
  width: 100%;
}

section.navsection {
  position: relative;
  background-color: #06f5c93b;
  border-radius: 1.5rem;
  width: 93%;
  margin: 2% 3.5%;
}

.section-three,
.nav1-section,
.link4section,
a.link-section-three,
.nav2-section button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-three {
  width: 90%;
  margin-left: 3.5%;
  padding: 2% 2%;
}

.sections-three {
  width: 93%;
  border: 2px blue solid;
  line-height: 30px;
  padding: 1% 1%;
  background-color: #99DBF5;
  border-radius: 1.5rem;
}

.nav1-section {
  margin: 0 0 4% 0;
}

.link1-section {
  display: flex;
  width: 50%;
  justify-content: center;
  font-size: 17px;
}

.link1-section span {
  display: inline-block;
  width: 35% !important;
}

a.link-section-three {
  width: 100%;
  height: 50px;
  color: grey;
  font-size: 40px;
  font-weight: 900;
  /* background-color: #0553d0; */
  border-radius: 5%;
  /* /* transition: 2s; */
}

a.link-section-three:hover {
  color: #efd2d2;
  background-color: #f75f62;
}

.nav2-section {
  margin: 2.5% 0 2% 4.5%;
  width: 91%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input#from,
input#to {
  width: 34%;
  display: inherit;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 1.5% 3%;
  margin: 0;
  background-color: #f9f9f9;
  color: #6900ef;
  font-size: 23px;
}

.nav2-section button {
  border: none;
  outline: none;
  border-radius: 2.5rem;
  height: 50px;
  width: 15%;
  margin: 0;
  background-color: #637ff9;
  color: #f9f9f9;
  font-size: 25px;
  cursor: pointer;
}

.link4section {
  font-size: 17px;
  color: cornflowerblue;
}

.link4section a {
  color: red;
  text-decoration-line: revert;
}

/* section CarCarry */

section.CarCarry {
  width: 100%;
  background-color: #99DBF5;
}

.index-margin {
  margin-top: 3%;
}

.display {
  width: 95%;
  margin-left: 2.5%;
  padding: 1% 0;
}

.car1-carry {
  text-align: center;
  margin-bottom: 2%;
}

h1.aboutofcar {
  display: inline-block;
  width: 100%;
  font-size: 32px;
  color: #303747;
}

h5.aboutofcar {
  display: inline-block;
  font-size: 14px;
  padding-top: 10px;
  text-transform: uppercase;
  width: 100%;
  color: #999;
}

.car-carry {
  width: 65%;
  margin-left: 20%;
}

.car2-carry,
.car3-carry {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3%;
}

.car-carry2,
.car-carry3 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 47%;
  height: 150px;
  padding: 0;
  background-color: #DDE6ED;
  border: 1px solid #ede7e79c;
  border-radius: 2.5rem;
}

.icon1-car,
.icon2-car {
  border: 2px solid #146C94;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 90px;
}

.control1car,
.contro21car {
  width: 80%;
}

i.fa-solid.fa-key,
i.fa-solid.fa-handshake,
i.fa-solid.fa-person-chalkboard,
i.fa-regular.fa-star {
  font-size: 40px;
  color: #146C94;
}

p.control1-car,
p.control2-car {
  font-size: 17px;
  font-weight: bolder;
  color: blueviolet;
}

p.free1-car,
p.free2-car {
  color: cornflowerblue;
  font-weight: bold;
}

/* section CarCarry /*/

/* section CLIENTS */

.CLIENTS {
  width: 100%;
  margin-top: 4%;
}

.displayCLIENTS {
  width: 90%;
  margin-left: 3%;
  background-color: #06f5c93b;
  border-radius: 2.5rem;
  padding: 2% 1%;
  position: relative;
}

.Client1-carry {
  text-align: center;
  margin-bottom: 2%;
}

h1.saysaboutus {
  font-size: 32px;
  color: #303747;
}

h5.sayaboutus {
  display: inline-block;
  font-size: 14px;
  padding-top: 10px;
  text-transform: uppercase;
  width: 100%;
  color: #999;
}

.margintoclients {
  width: 95%;
  margin-left: 2.5%;
}

.clientsaysaboutus {
  width: 100%;
  text-align: center;
}

#blay {
  display: block;
}

.fade2 {
  animation-name: fade2;
  animation-duration: 1.5s;
}

@keyframes fade2 {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

.imageclients {
  width: 100%;
}

/* .imgclients {
  width: 22%;
  height: 200px;
} */

span.imgclients {
  font-size: 360px !important;
  color: #7a7171;
}

.pofclients {
  margin-top: 2%;
}

p.myname {
  font-size: 25px;
  color: blueviolet;
  font-weight: 800;
  margin: 1% 0;
}

p.pofyou {
  font-size: 17px;
  font-weight: bolder;
  color: cornflowerblue;
}

ul.clientstar {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
}

li.starclient {
  width: 4%;
  margin: -10px;
}

.starclient img {
  width: 60%;
}

.clicks {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.rightandleft-slider {
  width: 100%;
  position: absolute;
  height: 40px;
  top: 53%;
}

.nextcients {
  right: 6%;
}

.prevcients,
.nextcients {
  cursor: pointer;
  position: absolute;
  width: 10%;
  height: 35px;
  display: flex;
  color: black;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  background-color: #fefeff;
  border-radius: 2.5rem;
  align-items: center;
  justify-content: center;
}

.prevcients:hover,
.nextcients:hover {
  color: #0011ff;
  background-color: #00BCD4;
}

/* section CLIENTS /*/

/* section condition-of-the-passenger */

section.condition-of-the-passenger {
  width: 100%;
  margin-top: 4%;
}

.condition-passenger {
  width: 90%;
  margin-left: 4.5%;
  background-color: #99dbf5;
  padding: 2% 1%;
  border-radius: 2.5rem;
}

.condition1 {
  width: 85%;
  margin-left: 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p.passenger1 {
  font-size: 24px;
  font-weight: 700;
  color: #1322a5;
  line-height: 27px;
  background-color: cadetblue;
  border-radius: 2.5rem;
  padding: 2%;
  width: 35%;
}

div#links-condition {
  width: 18%;
  background-color: cadetblue;
  border-radius: 2.5rem;
  padding: 1%;
}

#link-conditions {
  width: 100%;
  display: flex;
  align-items: center;
}

#link-conditions,
i.fa-solid.fa-right-long {
  transition: all 1s linear 0s;
  color: #171494;
  font-size: 20px;
}

#link-conditions:hover {
  color: #212A3E;
  margin-left: 10%;
}

#link-conditions:hover i.fa-solid.fa-right-long {
  color: #212A3E;
  margin-left: 2%;
}

.condition2 {
  width: 90%;
  margin-left: 5%;
  margin-top: 2%;
}

.passenger2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.passenger3 {
  width: 30%;
  transition: all 0.3s linear 0s;
  padding: 0% 2%;
  font-family: sans-serif;
}

.passenger3:hover {
  box-shadow: 0px 1px 14px 12px #f3f3f385;
}

.bottomdiv:hover {
  box-shadow: 0px 1px 14px 12px #4551d585;
}

.condition3 {
  display: flex;
  justify-content: space-between;
  height: 90px;
}

.height {
  height: 65%;
  display: flex;
  align-items: flex-end;
}

p.ofthe {
  font-size: 21px;
  color: #2900ff;
}

.color {
  color: #793fdf !important;
  font-size: 25px !important;
  text-decoration-line: underline;
}

/* section condition-of-the-passenger /*/

/* section rides-register-daily */

section.rides-register-daily {
  width: 100%;
  margin-top: 5%;
}

.rides {
  width: 93%;
  margin-left: 3.5%;
  background-color: #c5fdf3;
  padding: 2% 0;
  border-radius: 2.5rem;
}

.register {
  display: flex;
  width: 90%;
  margin-left: 5%;
}

.daily {
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: space-around;
}

.icon-daily {
  width: 25%;
}

.right {
  margin-left: 6%;
}

.heart1 {
  width: 100%;
  height: 50px;
  display: flex;
  border-radius: 50%;
  color: #3c3fb1 !important;
  font-size: 90px !important;
  background-color: #a8a8d5;
  box-shadow: 0px 0px 9px 5px rgb(156 150 196);
  justify-content: center;
  align-items: center;
}

.Register {
  font-size: 20px;
  width: 75%;
}

section.Latest-rentals {
  margin-top: 5%;
  width: 100%;
}

.carlatest {
  width: 93%;
  margin-left: 3.5%;
  background-color: #99dbf5;
  border-radius: 2.5rem;
  padding: 2% 0;
}

.lastercar1 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

h3.address {
  font-size: 32px;
  color: #303747;
}

.rentalscar {
  width: 90%;
  margin-left: 5%;
}

.lastercar2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.rentals-car {
  width: 32%;
}

.img-car {
  position: relative;
  width: 100%;
}

img.img1-car {
  border-radius: 3%;
  width: 100%;
}

span.day-car {
  border-radius: 35px 0 0 35px;
  color: #fff;
  background: #f75f62;
  display: inline-block;
  font-size: 16px;
  padding: 5px 15px 5px 25px;
  position: absolute;
  right: 2px;
  top: -2px;
}

span.day-car::before {
  border-bottom: 10px solid transparent;
  border-left: 7px solid #d2161a;
  border-right: 6px solid transparent;
  bottom: -10px;
  content: "";
  position: absolute;
  right: -3px;
}

.imgcar1 {
  bottom: 10px;
  display: inline-block;
  left: 6px;
  position: absolute;
  width: 40%;
}

img.img2-car {
  border-radius: 50%;
  border: 2px solid wheat;
  width: 60%;
}

.rentals-car2 {
  margin-top: 4%;
}

.linkletest {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

ul.starcar {
  display: flex;
  width: 50%;
  padding: 0;
  margin: 0;
  justify-content: flex-end;
}

li.star-car {
  width: 10%;
}

img.svgcar {
  width: 100%;
}

a.linklaster {
  color: inherit;
  transition: 2s;
}

a.width {
  font-size: 14px;
}

a.linklaster:hover {
  color: #f75f62;
}

span.icon-car {
  width: 37%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0%;
  margin-bottom: 3%;
}

span.svg-car {
  cursor: pointer;
  width: 18%;
  height: 31px;
  display: flex;
  font-size: 35px !important;
  align-items: center;
  justify-content: center;
  background-color: #ff00006b;
  color: red;
  margin: 0% 5% 1% 0%;
  border-radius: 100%;
  transform: rotateZ(37deg);
}

section.Looking-for-ride {
  margin-top: 8%;
  width: 100%;
}

.space.no-top {
  width: 93%;
  margin-left: 3.5%;
  background-color: #c5fdf3;
  border-radius: 2.5rem;
  padding: 3% 0;
}

.container {
  width: 90%;
  margin-left: 5%;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.col-md-1,
.col-md-2 {
  width: 49.5%;
}

.heading {
  margin-bottom: 7%;
  font-size: 20px;
  color: #303747;
}

ul.rider1,
ul.rider2 {
  padding: 0;
  width: 100%;
}

li.forride,
li.spareseat {
  width: 95%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1%;
  margin-bottom: 2%;
  background: #e9edf3 none repeat scroll 0 0;
  border: 1px solid #e7dcdc73;
  border-radius: 5px;
  transition: 1s;
}

li.forride:hover,
li.spareseat:hover {
  box-shadow: 1px 0px 20px 6px rgb(0 20 255 / 28%);
  border-color: transparent;
}

.rider-avatar {
  width: 20%;
}

.rider-avatar img {
  box-shadow: 1px 1px 6px 4px rgb(46 58 87 / 36%);
  border-color: #ddbcbc73;
  border-radius: 50%;
  width: 90%;
}

.rider-meta {
  position: relative;
  width: 75%;
}

.rider-meta a {
  color: #9196a0;
}

p.list-link {
  margin-top: 3%;
  display: inline-block;
}

.link-list {
  transition: 1s;
}

.link-list:hover {
  color: #e33034;
}

ins.price {
  text-decoration: none;
  color: #f75f62;
  position: absolute;
  right: 0;
}

section.this-brand-car-web {
  width: 100%;
  margin-top: 5%;
  height: 180px;
  position: relative;
}

.thisbrand {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
}

.thiscar {
  width: 1210px;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.thiscar::before,
.thiscar::after {
  height: 180px;
  width: 84px;
  position: absolute;
  content: "";
  background: linear-gradient(to right, #c5bdd573 0%, rgb(119 82 245 / 0%) 100%);
  z-index: 2;
}

.thiscar::before {
  left: 0;
  top: 0;
}

.thiscar::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.thiscarweb {
  animation: slideshow 11s linear infinite;
  display: flex;
  height: 95%;
  width: calc(250px * 7);
}

@keyframes slideshow {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.slider-brand-car {
  background-color: #adacd92e;
  width: 180px;
  height: 100%;
  margin-right: 1%;
  border: 5px solid rgb(208 208 227 / 69%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2.5rem;
}

img.brand-car {
  padding: 1% 1% 1% 1%;
  width: 91%;
  height: 100px;
  border-radius: 10px;
}


section.sectionpage {
  width: 100%;
  margin-top: 5%;
}

.divpage {
  width: 100%;
  display: flex;
}

.allpage {
  width: 60%;
}

.col-lg-7 {
  width: 100%;
  margin-left: 1%;
  margin-bottom: 5%;
}

.pickup-time {
  width: 100%;
  padding: 1% 0% 2% 0%;
}

span.find {
  background: #fff none repeat scroll 0 0;
  border-radius: 5px;
  display: flex;
  margin-bottom: 10px;
  width: 96%;
  justify-content: space-between;
}

i.fa.fa-location-arrow {
  color: #f75f62;
  margin-right: 10px;
}

a.themebtn {
  background-color: #7ba8f9;
  color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 1% 1% 1% 1%;
  transition: 0.5s;
}

i.fa.fa-map-marker {
  margin-right: 7px;
}

a.themebtn:hover {
  background-color: red;
  color: white;
}

.DATA_N_TIME {
  display: flex;
  margin-top: 4%;
}

.DATA_N_TIME p {
  width: 35%;
  display: flex;
  margin-right: 12%;
}

.date-n-time {
  position: relative;
}

input:invalid+span::after {
  content: "✖";
  padding-left: 5px;
}

input:valid+span::after {
  content: "✓";
  padding-left: 5px;
}

.datantime {
  display: flex;
  width: 96%;
  justify-content: space-between;
  margin-top: 4%;
}

.datantime span {
  width: 30%;
}

i.fa.fa-search {
  margin-right: 5%;
  display: inline-block;
}

.filter-meta {
  border-top: 1px solid pink;
  margin-top: 5%;
  display: flex;
}

.this-span {
  height: 55px;
  display: flex;
  align-items: center;
  margin-right: 5%;
}

.filter-meta ul {
  width: 80%;
  display: flex;
}

.all-cuntenar {
  display: flex;
}

div#grid-flex-1,
div#gridflex-1 {
  display: none;
}

.grid {
  width: 33%;
  line-height: 50px;
}

.grid li {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.grid a {
  position: relative;
  display: inline-block;
}

.filter-meta p {
  width: 53%;
  display: inline-block;
}

.meta p {
  width: 100%;
  display: inline-block;
  margin: 0;
}

.fule-type1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2%;
  width: 75%;
}

.containers {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 17px;
  user-select: none;
}

.containers input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 100%;
  background-color: #eee;
}

.containers:hover input~.checkmark {
  background-color: #ccc;
}

.containers input:checked~.checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.containers input:checked~.checkmark:after {
  display: block;
}

.containers .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  padding-left: 0px;
  FONT-SIZE: 3px;
}

.filterr-meta {
  border-top: 1px solid pink;
  margin-top: 5%;
  display: flex;
  align-items: center;
  width: 95%;
}

.custom-select {
  position: relative;
  font-family: Arial;
  width: 380px;
}

.custom-select select {
  display: none;
}

.select-selected {
  background-color: DodgerBlue;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}


.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}


.select-items div,
.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}


.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}


.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.filtermeta {

  border-top: 1px solid pink;
  margin-top: 5%;
  display: flex;
}

.additional {
  display: flex;
  width: 95%;
  margin-top: 2%;
}

.flexses1 {
  width: 33%;
  line-height: 30px;
}

.flexses2 {
  display: none;
}

.checkboxses {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 12px;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkboxses input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 100%;
}

/* On mouse-over, add a grey background color */
.checkboxses:hover input~.checkmark1 {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkboxses input:checked~.checkmark1 {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark1:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkboxses input:checked~.checkmark1:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkboxses .checkmark1:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  padding-left: 0px;
  FONT-SIZE: 3px;
  transform: rotate(45deg);
}

.filter-metaa {
  border-top: 1px solid pink;
  margin-top: 5%;
  display: flex;
  align-items: center;
}

form.fule-types {
  display: flex;
  width: 70%;
  justify-content: space-between;
}

.filterrbtns {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a.del-filter {
  color: #f75f62;
  width: 25%;
}

.flexses123 {
  display: flex;
  width: 25%;
  justify-content: space-between;
  align-items: center;
}

a.theme-btn-slim {
  background: #7ba8f9;
  color: #fff;
  border-radius: 5px;
  display: flex;
  width: 70%;
  height: 35px;
  justify-content: center;
  align-items: center;
  transition: 0.8s;
}

a.theme-btn-slim:hover {
  background: #f75f62;
}

i.fa.fa-refresh,
i.fas.fa-trash {
  margin-right: 5%;
}

.head-meta {
  display: flex;
  align-items: center;
  width: 90%;
  margin-bottom: 2%;
}

.head-meta h4 {
  color: white;
  font-size: 30px;
  width: 35%;
}

i.fa.fa-share-alt {
  margin-right: 15%;
}

.info-links {
  float: left;
  width: 100%;
}

.info-links span {
  float: right;
  color: white;
}

.info-links a {
  color: white;
  margin-right: 5%;
}

.space {
  width: 100%;
  margin-top: 5%;
}

.conteainer {
  margin-left: 5%;
  width: 90%;
}

.roww {
  margin-left: 7%;
  width: 85%;
}

.profile {
  width: 100%;
}

.rowsw {
  display: flex;
}

.col-lg-3 {
  width: 30%;
}

.col-md-12 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profile-dp figure {
  padding: 0;
  margin: 0;
  width: 55%;
}

.col-md-12 img {
  border-radius: 50%;
  width: 100%;
}

.profile-info {
  line-height: 25px;
}

ul.stars-rating {
  display: flex;
  color: yellowgreen;
  margin: 0;
}

ul.verification {
  line-height: 25px;
}

a.themee-btn {
  background-color: #7ba8f9;
  color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 4% 3% 4% 3%;
  transition: 0.5s;
  width: 35%;
}

a.themee-btn:hover {
  background-color: #cd1515;
  color: white;
}

.col-lg-9 {
  width: 65%;
}

.note-box {
  width: 100%;
}

.note-box p {
  display: inherit;
  color: black;
  font-weight: 800;
}

.note-box span {
  display: inherit;
}

select.car-models {
  float: right;
  border: 2px solid #e1c3c3;
  width: 25%;
  background-color: #f9baba5e;
  font-size: 15px;
  color: #241717;
  outline: none;
  margin-top: -7%;
}

.nice-select {
  width: 60%;
  position: relative;
}

ul.list {
  position: absolute;
  line-height: 30px;
  left: 13%;
  color: #000000;
  background-color: #dfb4b44a;
  padding: 1% 1% 1% 3%;
}

.car-list {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 9%;
}

img#qwer {
  width: 95%;
}

figure.qwer {
  width: 55%;
}

ins.delete-pro {
  margin-top: -17%;
  float: right;
  font-size: 22px;
  color: #9d2929;
  border-radius: 50%;
  border: 2px solid burlywood;
  width: 16%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div#asd {
  display: flex;
  align-items: center;
}

p.h4 {
  font-size: 14px;
  color: #722bbd;
}

span.span-Citroen {
  margin-top: 1%;
  border-left: 5px solid #72373700;
}

h6.h6 {
  color: #9196a0;
  font-size: 16px;
  margin-top: -2%;
}

a.a-link {
  display: inline-block;
}

span.span-citroen {
  color: #f75f62;
  font-size: 15px;
  font-weight: 400;
  margin-top: 5%;
  display: inline-block;
  margin-bottom: 3%;
}

a.a-link {
  display: inline-block;
  background: #f75f62;
  box-shadow: 4px 8px 10px 0 rgb(15 67 185 / 30%);
  padding: 4% 9% 4% 9%;
  border-radius: 8%;
  color: white;
  transition: 0.5s;
}

a.a-link:hover {
  background: #664ab1;
  color: white;
}

/* .d1-none{
  display: none;
} */

div#googleMap {
  width: 44%;
  height: auto;
  position: relative;
  overflow: hidden;
}

section.create-route {
  width: 100%;
  margin-top: 5%;
}

.notification {
  width: 90%;
  margin-left: 5%;
}

.row-create {
  width: 80%;
  margin-left: 9%;
}

.col-lg8 {
  width: 100%;
}

h4.h44 {
  font-size: 25px;
  color: #8d6767;
  font-weight: 500;
}

form.cola-form,
form.coola-form {
  width: 70%;
}

input.input-her1,
input.input-her2 {
  outline: none;
  border: 1px solid pink;
  width: 75%;
  height: 50px;
  font-size: 18px;
  color: blue;
  padding-left: 2%;
}

.inline-calendar {
  display: flex;
  width: 70%;
  margin-top: 5%;
  margin-bottom: 5%;
}

input#qwert {
  width: 73%;
  height: 50px;
  font-size: 18px;
  color: blue;
  padding-left: 2%;
}

.dates-n-times {
  font-size: 20px;
}

i.fa.fa-calendar {
  background: #fff none repeat scroll 0 0;
  box-shadow: 3px 4px 15px 0 #e8eaee;
  margin-left: 0%;
  margin-right: 2%;
}

div#display-flex,
.display-flex {
  display: flex;
}

.schedule {
  width: 100%;
}

.row-schedule {
  width: 100%;
}

.col-lg1,
.col-lg2 {
  width: 50%;
}

.selctions1,
.selctions2,
.selctions3,
.selctions4 {
  width: 95%;
  height: 50px;
  outline: none;
  border: 2px solid pink;
  background-color: #ffc0cb52;
  padding-left: 3%;
  color: #334faf;
  font-size: 16px;
}

.textarea {
  width: 97%;
  height: 70px;
  outline: none;
  border: 2px solid pink;
  background-color: #ffebee;
  color: blue;
}

.notebox {
  width: 100%;
  margin: 3% 0% 0% 6%;
  padding: 3% 0;
}

.notp {
  font-size: 14px;
}

.long {
  display: flex;
  width: 20%;
  height: 30px;
  justify-content: center;
  align-items: center;
  background: #7ba8f9;
  border: none;
  color: white;
  font-size: 17px;
  border-radius: 5%;
  cursor: pointer;
  transition: 0.5s;
}

.long:hover {
  background: #d32323;
  color: white;
}

section.deatilone {
  margin-top: 5%;
  width: 100%;
}

.detailtow {
  width: 90%;
  margin-left: 5%;
}

.deatalithree {
  width: 90%;
  margin-left: 5%;
  display: flex;
}

.deatailfore {
  width: 65%;
}

.detail-sec {
  width: 100%;
}

h1.h11 {
  margin-bottom: 2%;
}

.span2012 {
  font-weight: 100;
  font-size: 11px;
  color: #686464;
}

.detalinn {
  margin-bottom: 2%;
}

.deailnn {
  width: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.starsrating {
  display: flex;
  padding: 0;
  margin: 0;
  color: yellowgreen;
}

a.themee-bbtn {
  background-color: blueviolet;
  color: #faebd7bf;
  width: 30%;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  transition: 0.9s;
}

a.themee-bbtn:hover {
  background-color: rgb(223, 16, 16);
}

i.fa-regular.fa-heart,
i.fa.fa-share-alt {
  margin-right: 15%;
}

.detalinn {
  margin-bottom: 2%;
}

.deailn {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

ul.detail-caro {
  position: relative;
}

.owlstageouter {
  position: relative;
}

.mySlides img {
  width: 100%;
}

.sliderr-button {
  position: absolute;
  top: 2%;
  display: flex;
  width: 25%;
  justify-content: space-between;
  right: 12%;
}

.botton1 {
  background-color: blueviolet;
  color: white;
  border-radius: 50%;
  width: 25%;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

p.ppp {
  position: absolute;
  top: 90%;
  color: white;
  left: 2%;
  background-color: rgb(40 36 36 / 90%);
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

i.fa.fa-list-alt {
  margin-right: 2%;
}

.paragraph {
  margin-top: 4%;
}

h5.little-title {
  font-size: 25px;
  margin-bottom: 4%;
}

p.lttlE-Title {
  color: #9196a0;
  display: block;
  font-size: 14px;
  margin-bottom: 2%;
}

p.littlE-Title,
p.litlE-Title {
  margin-bottom: 2%;
  font-family: auto;
}

.profile-list {
  margin-bottom: 4%;
  line-height: 30px;
}

li.complete,
li.incomplete {
  font-size: 16px;
}

i.fa-regular.fa-circle-check {
  color: #1bb53c;
  font-size: 12px;
  margin-right: 1%;
}

i.fa.fa-ban {
  color: #1a7e30;
  font-size: 12px;
  margin-right: 1%;
}

ul.featurez {
  color: black;
  font-size: 17px;
  font-family: cursive;
}

.list-this-page {
  display: flex;
  align-items: center;
  background: #d5dfef none repeat scroll 0 0;
  padding: 10px 20px;
}

.featurez>.list-this-page:nth-child(2n) {
  background: #a4b8df none repeat scroll 0 0;
}

.list-this-page i {
  width: 290px;
  display: inline-block;
  font-weight: 900;
}

.pppm {
  color: black;
  font-size: 17px;
  font-family: cursive;
  font-weight: 100;
}

.features-list {
  margin-top: 5%;
}

.feature-list li {
  display: inline-block;
  font-size: 15px;
  margin-bottom: 4%;
  width: 210px;
  font-weight: 400;
}

.feature-list i.fa-solid.fa-circle-check {
  color: #918787bf;
  margin-right: 6%;
}

.reviewers {
  margin-top: 4%;
}

.reviewer li {
  display: flex;
  align-items: center;
  padding: 2% 0%;
}

.reviewer figure {
  padding: 0;
}

.activity-meta {
  width: 80%;
}

.activity-meta p {
  font-size: 14px;
}

a.stars-cars {
  display: inline-block;
  width: 15%;
  transition: 2s;
  color: black;
}

a.stars-cars:hover {
  color: rgb(238, 9, 9);
  text-decoration: underline;
}

.star-rating {
  display: flex;
  color: yellowgreen;
  width: 15%;
  justify-content: space-between;
}

.dealtifife {
  width: 35%;
}

.dealtisex {
  width: 90%;
  margin-left: 5%;
}

.DATANTIME {
  width: 100%;
  line-height: 50px;
}

.DATANTIME li {
  display: inline-block;
  font-size: 15px;
  margin-bottom: 10%;
  font-weight: 400;
  width: 100%;
}

input#party {
  outline: none;
  border: 2px solid pink;
  height: 55px;
  width: 85%;
  background-color: #935ac9;
  color: yellowgreen;
  font-size: 18px;
  padding: 0% 2%;
}

a.theme {
  background-color: #7ba8f9;
  width: 100%;
  height: 55px;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  transition: 0.8s;
}

a.theme:hover {
  background-color: #f75f62;
  color: white;
}

span.validity {
  border: 3px solid pink;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7%;
  height: 50px;
  font-size: 20px;
  background-color: #935ac9;
  color: yellowgreen;
}

p.pp21 {
  margin-bottom: 5%;
  font-size: 20px;
}

span.span21 {
  color: red;
}

p.pp12 {
  margin-top: 9%;
  text-align: center;
  font-size: 14px;
}

.point-promo {
  border-top: 1px solid pink;
}

p.em-p {
  margin-top: 5%;
  text-align: center;
  font-size: 14px;
}

i.em {
  color: red;
}

.owner-sec {
  display: flex;
}

.owner-sec1 {
  display: flex;
  margin-top: 5%;
}

.owner-pic {
  width: 50%;
  position: relative;
}

img.img-s {
  border-radius: 100%;
  max-width: 170px;
  min-width: 170px;
  width: 170px;
}

i.i-img {
  position: absolute;
  left: 5%;
}

span.span-em {
  display: inline-block;
  width: 80%;
  text-align: center;
  margin-top: 3%;
  line-height: 25px;
  font-size: 17px;

}

ul.icons-fonte {
  width: 50%;
}

li.icon-fonte {
  display: flex;
  align-items: center;
  margin-bottom: 12%;
}

i.far.fa-handshake,
i.fas.fa-clock,
i.fas.fa-calendar {
  margin-right: 10%;
  display: table-cell;
  vertical-align: middle;
  width: 32px;
  font-size: 32px;
}

.owner-info>span {
  font-size: 20px;
  font-weight: 600;
}

.owner-info>p {
  color: #9196a0;
  font-size: 14px;
  font-weight: 400;
  line-height: initial;
}

.owner-detail {
  border-top: 1px solid pink;
  width: 90%;
  margin-left: 5%;
  margin-top: 6%;
}

ul.verificatio {
  margin: 5% 0% 6% 0%;
  line-height: 35px;
  color: #9196a0;
}

i.fas.fa-globe-europe,
i.far.fa-check-circle {
  margin-right: 5%;
}

.owner-detail>p {
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 23px;
  width: 100%;
}

.owner-detail>a {
  border-radius: 5px;
  display: inline-block;
  font-size: 15px;
  padding: 8px 20px;
  background: #7ba8f9;
  color: #fff;
  transition: 0.8s;
}

.owner-detail>a:hover {
  background: #f75f62;
  color: #fff;
}

.cars-list figure img {
  width: 275px;
  height: 250px;
}

.cars-list figure {
  margin: 0;
  margin-right: 4%;
  background-color: #6226263b;
  padding: 1%;
}

.car-owner {
  display: flex;
  align-items: center;
}

.span-my,
.spanmy {
  padding-left: 30px;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5%;
  display: inline-block;
}

.more-find {
  display: flex;
  align-items: center;
  width: 79%;
  justify-content: space-between;
  margin-bottom: 5%;
  padding-left: 30px;
}

.morefind {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 5%;
  padding-left: 0px;
}

.cars-listing {
  width: 40%;
}

.morefind>.kola-met>span {
  font-size: 13px;
}

a.slimm {
  background: #7ba8f9;
  color: #fff;
  width: 105px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 14px;
  transition: 0.8s;
}

a.slimm:hover {
  background: #f76265;
}

.carinf {
  position: relative;
  width: 57%;
}

.carowner {
  display: block;
}

.bottom {
  border-radius: 35px 0 0 35px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  padding: 5px 15px 5px 25px;
  position: absolute;
  right: 1px;
  top: -35px;
  background: #f75f62;
}

i.fa-regular.fa-star.fa-beat-fade.fa-sm {
  font-size: 30px;
  color: #f75f62;
}

.kola-met>h4 {
  color: #f76265;
  font-size: 18px;
}

.kola-met>span {
  font-size: 15px;
}

a.slim {
  background: #7ba8f9;
  color: #fff;
  width: 20%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 17px;
  transition: 0.8s;
}

a.slim:hover {
  background: #f76265;
}

.cars-lists {
  display: flex;
  align-items: center;
  margin-bottom: 3%;
}

.cars-lists figure img {
  width: 210px;
  height: 250px;
}

.cars-lists figure {
  margin: 0;
  margin-right: 4%;
  background-color: #6226263b;
  padding: 1%;
}

.cars-list {
  display: flex;
  align-items: center;
  padding-left: 4%;
  margin-bottom: 3%;
}

.car-inf {
  position: relative;
  width: 50%;
}

h5.h55my {
  font-size: 16px;
}

.h55my span {
  font-size: 12px;
  color: #9196a0;
}

.car-inf>p {
  color: #9196a0;
  margin-bottom: 2%;
}

span.locatio {
  margin-bottom: 3%;
  display: inline-block;
}

.owner-thmb {
  margin-right: 4%;
}

.owner-thmb img {
  border-radius: 100%;
}

.car-meta {
  line-height: 25px;
  width: 70%;
}

.car-meta span {
  color: #9196a0;
  position: relative;
}

.befor-i {
  margin-left: 1%;
  font-style: normal;
}

.tag {
  border-radius: 35px 0 0 35px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  padding: 5px 15px 5px 25px;
  position: absolute;
  right: -30px;
  top: -6px;
  background: #f75f62;
}

/* brofile driver */
section#about-me,
section#abutus,
.img-background,
img.img-me,
.section-one-word,
ul.four-words,
section#CLIENTS {
  width: 100%;
}

section#about-me {
  position: relative;
  margin-top: 2%;
}

.about-me,
.about-driver,
.Your-word,
.aboutus,
.fivewords {
  width: 95%;
  margin-left: 2.5%;
}

img.img-me {
  height: auto;
  border-radius: 2.5rem;
  background-color: antiquewhite;
  padding: 1%;
  position: relative;
}

section#Your-Words {
  position: absolute;
  top: 12%;
  left: 6%;
  color: white;
  height: auto;
  width: 45%;
}

.Your-word {
  display: flex;
  justify-content: center;
  line-height: 40px;
  background-color: #0113183d;
  border-radius: 2.5rem;
  padding: 3%;
}

.yous-words {
  border: 2px solid #66787c;
  padding: 3%;
  border-radius: 2.5rem;
  width: 80%;
}

h1.one-words {
  color: #F2EAD3;
  font-size: 25px;
}

p.tow-words,
p.three-words {
  color: #9BCDD2;
  font-size: 17px;
}

a.link-one-words {
  transition: 2s;
  color: #176B87;
}

a.link-one-words:hover {
  margin-left: 1%;
  font-size: 17px;
  color: #64CCC5;
}

button.sign-up-her {
  border: none;
  background: none;
  width: 45%;
  height: 35px;
  border-radius: 2.5rem;
  font-size: 18px;
}

a.link-tow-words {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 2.5rem;
  background-color: #DFD7BF;
  color: #3F2305;
  transition: 2s;
}

a.link-tow-words:hover {
  background-color: aliceblue;
  color: #3F2305;
  transform: translateY(-6px);
}

section#abutus {
  margin-top: 3%;
  position: relative;
}

.abutus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.img-aboutus {
  width: 45%;
  background-color: #edebe5;
  border-radius: 2.5rem;
}

img.growth {
  width: 100%;
  border: solid 2px yellowgreen;
  box-shadow: 4px 3px 35px 1px rgb(167 233 46);
  border-radius: 2.5rem;
}

.words-about {
  width: 50%;
}

.fivewords {
  border: 3px solid cyan;
  border-radius: 2.5rem;
  padding: 2%;
}

h1#onewords,
p#towwords,
p#threewords {
  font-size: 35px;
  color: black;
  margin: 3% 0;
}

p#towwords {
  color: #068FFF;
  line-height: 40px;
  font-size: 25px;
}

p#threewords {
  color: #c98d3e;
}

section#CLIENTS {
  margin-top: 4%;
  border: 2px solid #2b8fd6;
  border-radius: 2.5rem;
  background: rgb(238, 174, 202);
  background: radial-gradient(circle,
      rgb(160 179 221) 0%, rgb(127 76 227) 100%);
}

div#displayCLIENTS {
  width: 96%;
  padding: 1%;
}

.clientprofileaboutus {
  width: 100%;
  text-align: center;
}

#blayes {
  display: block;
  position: relative;
  z-index: 1;
}

.fadep {
  animation-name: fadep;
  animation-duration: 1.5s;
}

@keyframes fadep {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

.img-uslogo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

img#logoher {
  border-radius: 5.5rem;
  width: 8%;
  transform: rotate(400deg);
}

span#logo-her {
  font-size: 46px;
  margin-left: 1%;
  color: #D71313;
}

div#img-logo-inher {
  width: 100%;
}

span#spicals {
  color: #ab9e95;
  font-size: 50px;
  font-family: cursive;
}

.image-client-profile,
.buttons-move-RightAndLeft {
  width: 100%;
  position: relative;
  z-index: 99999;
}


.img-profile {
  width: 50%;
  height: auto;
  z-index: -2;
  border-radius: 100%;
  position: relative;
}

.Prevcients {
  left: 0;
}

.Nextcients {
  right: 0;
}

.Prevcients,
.Nextcients {
  cursor: pointer;
  position: absolute;
  width: 6%;
  height: 35px;
  display: flex;
  margin-top: -15%;
  color: yellowgreen;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  background-color: blue;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

p.my-address {
  font-size: 45px;
  margin: 2% 0;
  color: #6A1051;
}

p.words-ride {
  color: #EC610A;
  font-size: 25px;
}

section#abutdriver {
  margin-top: 3%;
  width: 100%;
  height: auto;
  position: relative;
  border-radius: 2.5rem;
  background: rgb(2, 0, 15, 1);
  background: linear-gradient(29deg, rgba(2, 0, 15, 1) 0%,
      rgba(9, 35, 164, 1) 12%, rgba(0, 213, 255, 1) 116%);
}

.aboutdriver,
.img-aboutdriver {
  width: 95%;
  margin-left: 2.5%;
}

section#margine-top {
  width: 95%;
  margin-left: 2.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img-about-driver {
  width: 45%;
  height: auto;
  position: relative;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  font-size: 413px;
  color: white;
}

.isolated {
  border-radius: 2.5rem;
  position: relative;
  width: 100%;
  height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.words-about-driver {
  position: relative;
  width: 63%;
  height: 420px;
}

.fivewords-driver {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.five-words-driver {
  width: 65%;
  border-radius: 2.5rem;
  border: 2px solid #072f92;
  padding: 3%;
  background-color: #047ac4;
  box-shadow: rgb(2 168 226) 0px 25px 50px -12px;
}

h1#onewords-driver {
  font-size: 50px;
  color: #090979;
}

p#towwords-driver {
  font-size: 18px;
  color: #004382;
}

p#threewords-driver {
  font-size: 17px;
  color: #08b3ff;
}

h1#onewords-driver,
p#towwords-driver,
p#threewords-driver,
button.form-driver {
  margin: 4% 0;
}

button.form-driver {
  border: none;
  background: none;
  width: 30%;
  height: 40px;
  font-size: 18px;
}

a.link-tow-words-driver {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 2.5rem;
  background-color: #03012a;
  color: #1ca9a9;
  transition: 2s;
}

a.link-tow-words-driver:hover {
  background-color: #01bef0;
  color: #082e91;
  transform: translateY(-6px);
}


/* brofile driver / */


section.icons-placeholder {
  width: 100%;
  margin-top: 5%;
}

.ICONS-PLACEHOLDER {
  width: 93%;
  background-color: #99dbf5;
  border-radius: 2.5rem;
  padding: 2% 0;
  margin-left: 3.5%;
}

div#ICONS-placeholder {
  width: 95%;
  margin-left: 2.5%;
}

.tool-number {
  display: flex;
  width: 95%;
  margin-left: 2.5%;
  justify-content: space-around;
}

.number-one {
  width: 30%;
  display: flex;
  align-items: center;
}

.img-icon-svg {
  width: 17%;
}

img.icon1-img-svg {
  width: 100%;
}

.Tucson-Canada {
  width: 80%;
}

p.p-footer {
  line-height: 25px !important;
  font-size: 19px;
  color: #000f81;
}

p.p-place {
  line-height: 25px !important;
  font-size: 20px;
  color: #9278dd;
}
